.Centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    vertical-align: middle;
}

.bloque {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 40em;
    text-align: center;
}

.Parrafo {
    font-size: 18px;
    color: 666666;
}

.Izquierda, .Derecha{
    flex: 1;
    text-align: center;
    padding-left: 10px;
}

.Izquierda{
    display: flex;
    margin-right: 20px;
}

.Derecha{
    display: flex;
    margin-left: 40px;
}

.ParrafoPrecio, .ParrafoPrecioRayado{
    font-weight: bold;
}

.ParrafoPrecio{
    color: #fa7436;
    background-color: #ffe7db;
    border-radius: 10px;
}

.ParrafoPrecioRayado{
    text-decoration: line-through;
    margin-right: 10px;
}

.EstiloBotones{
    border-radius: 20px;
    background-color: white;
    color: grey;
    border: 2px solid gray;
}

.EstiloBotones:hover{
    background-color: #fa7436;
}

h1{
    color: black;
}

.profile-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px; 
    background-size: cover;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  
